@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace !important;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding-top: 100px;
  overflow-x: hidden;
}
.scroll-to-top{
  border-radius: 50% !important;
  background: #fd5 !important;
  padding: 30px;
  display: grid;
  place-content: center;
}